<table class="table table-hover">
	<tr></tr>
	<tr>
		<th><h4>Platform</h4></th>
		<th><h4>Iletisim</h4></th>
	</tr>
	<tr>
		<td><h3>Gmail</h3></td>
		<td><h3><a href="mailto:ylcinyakup@gmail.com">ylcinyakup@gmail.com</a></h3></td>

	</tr>
	<tr>
		<td><h3>Github</h3></td>
		<td><h3>
				<a href="https://github.com/ylcinyakup">https://github.com/ylcinyakup</a>
			</h3></td>
	</tr>
	<tr>
		<td><h3>LinkedIn</h3></td>

		<td><h3>
				<a href="https://www.linkedin.com/in/ylcinyakup/">https://www.linkedin.com/in/ylcinyakup/</a>
			</h3></td>
	</tr>
</table>
