

<table class="table table-hover">
	<tr></tr>
	<tr>
		<th>Id</th>
		<th>Username</th>
		<th>Phone</th>
		<th>Duzenle</th>
		<th>Sil</th>
	</tr>
	<tr ng-repeat="phoneNumber in phoneNumbers">
		<form name="myForm" class="form-horizontal">
			<td><input type="text" ng-model="phoneNumber.id" id="id"
				class="id form-control" readonly /></td>
			<td><input type="text" ng-model="phoneNumber.user.firstname" readonly
				id="firstname" class="username form-control" /></td>
			<td><input type="text" ng-model="phoneNumber.phoneNumber"
				id="phoneNumber" class="lastname form-control" /></td>
			<td><button type="button"
					ng-click="updatePhoneNumber(phoneNumber.user.id,phoneNumber.id,phoneNumber)"
					class="btn btn-primary">Duzenle</button></td>
			<td><button type="button"
					ng-click="deletePhoneNumber(phoneNumber.user.id,phoneNumber.id)" class="btn btn-danger">Sil</button></td>

		</form>

	</tr>
	<tr>
		<td></td>
		<td></td>
		<td><input type="text" ng-model="phoneNumber.phoneNumber" id="phone"
			class="username form-control" /></td>


		<td><button type="button" ng-click="createPhoneNumber(userId,phoneNumber)"
				class="btn btn-success">Ekle</button></td>
		<td></td>
	</tr>
</table>
